<div style="display: flex;">
<div id="input_container">
    <img src="/assets/outline_search_black_24dp.png" id="input_img">
    <input type="text" id="input" value>
    
    
</div>
<button style="width: 90px;height: 35px;border-radius: 20px;background-color:#4F46E5;margin-right: 30px;color: #FFFFFF;">+ Add</button>
</div>
<mat-card style="display: flex;">
    <img src='http://angular-material.fusetheme.com/assets/images/avatars/female-12.jpg' >
    <mat-card-content><h5>Alice Harding<br><span>Track service worker</span></h5>
    </mat-card-content>
</mat-card>
<mat-card style="display: flex;">
    <img src='http://angular-material.fusetheme.com/assets/images/avatars/female-12.jpg' >
    <mat-card-content><h5>Alice Harding<br><span>Track service worker</span></h5>
    </mat-card-content>
</mat-card>
<mat-card style="display: flex;">
    <img src='http://angular-material.fusetheme.com/assets/images/avatars/female-12.jpg' >
    <mat-card-content><h5>Alice Harding<br><span>Track service worker</span></h5>
    </mat-card-content>
</mat-card>
<mat-card style="display: flex;">
    <img src='http://angular-material.fusetheme.com/assets/images/avatars/female-12.jpg' >
    <mat-card-content><h5>Alice Harding<br><span>Track service worker</span></h5>
    </mat-card-content>
</mat-card>
<mat-card style="display: flex;">
    <img src='http://angular-material.fusetheme.com/assets/images/avatars/female-12.jpg' >
    <mat-card-content><h5>Alice Harding<br><span>Track service worker</span></h5>
    </mat-card-content>
</mat-card>


