<mat-nav-list>
  
  <img class="avatar mat-elevation-z8" src="https://source.unsplash.com/c_GmwfHBDzk/200x200" />

  <h4 class="name">John Smith</h4>
  <p class="designation">Software Engineer</p>

  <mat-divider></mat-divider>
  <h2 matSubheader class="sub-head">DASHBOARDS</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/project">
    <mat-icon> assignment_turned_in</mat-icon> Project
  </a><br>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/profile">
    <mat-icon>account_circle</mat-icon> profile
  </a><br>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/settings">
    <mat-icon>settings</mat-icon> settings
  </a><br>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/activities">
    <mat-icon>Activities</mat-icon> Activities
  </a>
  <h2 matSubheader class="sub-head">APPLICATONS</h2>
  
</mat-nav-list>